.size_descr{
    height: 100%;
    width: 90%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin_descr{
    margin-bottom: 50px !important;
}

a {
    text-decoration: none;
    text-underline-offset: None;
}

.white{
    color: #E3D5EF ;

}

.whiteR{
    color: #EDEDED ;

}

.black{
    color: #171717 ;

}

.bg_botao{
    background-color: #444444 !important;
    color: #EDEDED;
    border-color: #171717 ;
    
    

}

.bg_botao:hover{
    background-color: #DA0037 !important;
    color: #EDEDED;
    border-color: #EDEDED;
}

.padding_descr{
    padding: 10px;
}

