.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    height: 680px;
    background-color: #171717;

    /* margin-top: 70px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery-item {
    width: 320px;
    height: 320px;
    object-fit: cover;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    height: auto;
}

@media (max-width: 991px) {
    .gallery-item {
        width: 250px;
        height: 250px;

    }

    .box {
        height: 580px;
    }

}

@media (max-width: 775px) {

    .gallery-item {
        width: 220px;
        height: 220px;
    }

}

@media (max-width: 680px) {

    .gallery-item {
        width: 180px;
        height: 180px;
    }

}