.size_image{
    height: 100%;
    width: 70%;
    border-radius: 25px;
}

.teste {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;

}

@media (max-width: 991px) {

    .size_image{
        width: 60%;
        margin-bottom: 20px;
        min-width: 200px;
 
    }
}

@media (max-width: 600px) {

    .size_image{
        width: 55%;
        margin-bottom: 20px;
 
    }
}