@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

.App-link {
  color: #61dafb;
}

.faixa {
  height: 950px;
}

.faixap {
  height: 500px;
}

.faixam {
  height: 105vh;
}

.bg1 {
  background-color: #E3D5EF;
}

.bg2 {
  background-color: #49005C;
}

.bg3 {
  background-color: #AA48B7;
}

.bg5 {
  background-color: #FFD1D3;
}

.degrade1 {
  background: linear-gradient(to bottom, rgba(227, 213, 239, 1) 30%, rgba(170, 72, 183, 0.60) 100%);
}

.degrade2 {
  background: linear-gradient(to bottom, rgba(170, 72, 183, 0.60) 10%, rgba(170, 72, 183, 0.60) 60%, rgba(255, 209, 211, 0.60) 90%);
}

.degrade3 {
  background: linear-gradient(to bottom, rgba(255, 209, 211, 0.60) 10%, rgba(255, 209, 211, 0.8) 70%, rgba(224, 94, 120, 0.65) 100%);
}

.degrade4 {

  background: linear-gradient(to bottom, rgba(224, 94, 120, 0.65) 0%, rgba(224, 94, 120, 1) 100%);
}

.fleex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fleexLivre {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fleexcolumn {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}

.mg_top{
  margin-top: 100px;
}

.mg_bottom{
  margin-bottom: 100px;
}

.mg_oculta{
  margin-top: 0;
}

.divisao {
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Classe para a ordem 1 */
.divisao-ordem-1 {
  order: 1;
}

/* Classe para a ordem 2 */
.divisao-ordem-2 {
  order: 2;
}

.size_h1{
  font-size: 100px;
  font-family: "Domine", serif;
  color: #49005C;
  margin-top: 200px;
}

.size_h2{
  font-size: 50px;
  font-family: "Domine", serif;
  color: #49005C;
}

@media (max-width: 991px) {
  .faixap {
    height: 600px;
  }
  
  .fleex {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

  }

  .size_h1{
    font-size: 60px;
    margin-top: 100px;
  }

  .faixam {
    height: auto;
  }

  .divisao {
    width: 80%;
  }
  .divisao .ImagemPr{
    margin-left: auto;
  }

  .mg_oculta{
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .faixa{
    height: 800px;
  }
  
  .faixap {
    height: 600px;
  }

  .faixam {
    height: auto;
  }
  
  .fleex {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

  }

  .size_h1{
    font-size: 60px;
    margin-top: 100px;

  }

  .divisao {
    width: 80%;
  }
  .divisao .ImagemPr{
    margin-left: auto;
  }

  .mg_oculta{
    margin-top: 50px;
  }
}